<h1>All Questions</h1>

<ul>
  <% unless @questions.empty? %>
    <% @questions.each do |q| %>
      <li><%= q.statement %></li>
      <li><%= q.fact %></li>
    <% end %>
  <% else %>
    <li>There are 0 questions</li>
  <% end %>
</ul>